# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
.env.test

# Next.js
.next/
out/

# Production
build

# Misc
.DS_Store
*.pem

# Env
.env
.env.local
!.env.example
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.venv
env/
build/
dist/
*.egg-info/
